<!DOCTYPE html>
<html>
<head>
	<title>Title</title>
	<link rel="apple-touch-icon" sizes="180x180" href="./ico/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./ico/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./ico/favicon-16x16.png">
	<link rel="stylesheet" type="text/css" href="./css/basic-responsive.css">
</head>
<body>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-10">
			<h1>Hello World!</h1>
			<p>This is a responsive example page template with EJS. The server chooses a random observation from a database each time you load the site.</p>
			<p>The name is <%=name %>; and, he/she is <%=age %> years old.</p>
		</div>
		<div class="col-1"></div>
	</div>
	

		
</body>
</html>




